{% extends 'base.html' %}

{% block content %}

    <div class="jumbotron">
        <div class="container">
            <h1 class="display-5">Add planning!</h1>
        </div>
    </div>

    <div class="container">
        <form action="{% url 'add_planning' %}" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="{{ form.user.id_for_label }}">User:</label>
                        {{ form.user }}
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="{{ form.budget.id_for_label }}">Budget:</label>
                        {{ form.budget }}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="{{ form.date_start.id_for_label }}">Start date:</label>
                        {{ form.date_start }}
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="{{ form.date_end.id_for_label }}">Finish date:</label>
                        {{ form.date_end }}
                    </div>
                </div>
            </div>

            <div class="row">
                <dic class="col text-right">
                    <button type="reset" class="btn btn-secondary">Cancel</button>
                    <button type="submit" class="btn btn-primary">Continue</button>
                </dic>
            </div>

        </form>
    </div>
{% endblock content %}