{% extends 'base.html' %}

{% block content %}

    <div class="jumbotron">
        <div class="container">
            <h1 class="display-5">Planning expenses for <em>{{ user.get_full_name }}</em></h1>
        </div>
    </div>

    <div class="container">

        <div class="row">
            <div class="col-sm">
                <a href="{% url 'list_planning' %}" class="btn btn-primary"><i class="fa fa-arrow-left"></i> Back</a>
            </div>
        </div>

        <div style="margin: 30px auto"></div>

        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Planning category</th>
                <th scope="col">Date</th>
                <th scope="col">Description</th>
                <th scope="col">Amount</th>
            </tr>
            </thead>
            <tbody>
            {% for pe in planning_expenses %}
                <tr>
                    <td scope="row"><span class="badge badge-secondary">{{ pe.category_planning }}</span></td>
                    <td>{{ pe.date|date:"SHORT_DATE_FORMAT" }}</td>
                    <td>{{ pe.description }}</td>
                    <td>{{ pe.amount|floatformat:2 }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}